<br>
	
	<div class="title">National Parks of Wyoming</div>

	<br>
		<br>
		<br>
	

	<div class="bullets">
		<ul>
			<li>
				<strong><a href="/yellowstone">Yellowstone National Park</a></strong><br><br>
			</li>
			<li>
				<strong><a href="/teton">Grand Teton Nation Park</a></strong><br><br>
			</li>
			<li>
				<strong><a href="/fakeout">Fake Out!</a></strong>
			</li>
		</ul>
		<br>
	    <br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		

	</div>

